#Month {
    text-align: center;
}

.table {
    margin-bottom: 0;
}

tbody tr td {
    height: 80px;
    width: 100px;
    cursor: pointer;
}

#left {
    display: flex;
    justify-content: center;
}

#right {
    display: flex;
    justify-content: center;
}

td div {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f44;
    font-weight: bold;
    background-color: #bbb;
    border: 1px solid black;
    border-radius: 10px;
}

/* ok */